body{
    margin:0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
    background-image: url(BMI.jpg);
    color: wheat;
    min-height: 100vh;
}

div{
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 12px rgb(185, 55, 126);
}

h2{
    font-size: 30px;
    font-weight: 600;
    color: #242B2E;
}

.text{
    text-align: left;
    margin-left: 150px;
    color: #242B2E;
}

#height, #weight{
    color: #242B2E;
    text-align: left;
    font-size: 20px;
    font-weight: 200;
    outline: none;
    border: none;
    background-color: none;
    border-bottom: 1px solid #242B2E;
    width: 200px;
}

#height:focus, #weight:focus{
    border-bottom: 2px solid #242B2E;
    width: 300px;
    transition: 0.5s;
}

#result{
    color:#416675;
}

#btn{
    font-family: inherit;
    margin-top: 10px;
    border: none;
    color: #fff;
    background-color: #69113c;
    width: 150px;
    padding: 10px;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
}

#btn:hover{
    box-shadow: 1px 1px 12px #b9377e;
}

#info{
    font-size: 12px;
    color: #242B2E;
}
#remarks{
    color:#416675;
}